html, body {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #282c34;
  color: aliceblue;
}

.url-entry-box {
  width: 600px;
  font-size: x-large;
  border-radius: 5px;
  border: 10px;
  border-color: black;
  margin: 10px;
  margin-bottom: 20px;
}

.refresh-button {
  font-size: x-large;
}

.TopBar h1 {
  font-size: 32px;
}

.TopBar .game-entry-form {
  border: 10px;
  padding: 10px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
